.nav-icons{
    margin:0.5rem;
    color:black;
}
.feed-container{
    background-color: white;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: white;

    padding-left:1rem;
    padding-right:1rem;
}
.nav-icons-container{
    display:flex;
    justify-content: center;
    background-color: white;
    align-items:center;
}
.decor{
    height:38px;
    width:150px;
}
.feed-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.upload-btn{
    width:15rem;
    height:10vh;
}

.videos-container{
    height:80vh;
    border-radius:15px;
    border:1px solid black;
    overflow:scroll;
    scroll-snap-type: y mandatory;
    margin-top:1rem;
    
    
}
.videos-container::-webkit-scrollbar{
    display: none;
}

.videos-info{
    position: absolute;
    bottom:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}
.avatar-container{
    display:flex;
    justify-content: flex-start;
    width:70%
}
.avatar-container>p{
margin-left: 0.7rem;
margin-top:1rem;
}
.post-like{
    width:30%;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height:3rem;
    display:flex;
}
.post-container{
    height:80vh;
    width:20rem; 
    margin-bottom:0.6rem;
    position: relative;
    scroll-snap-align: start;
}
.liks{
    text-decoration: none;
    color:black;
}
.post-container > video{
        height:100%;
        width:100%;
        object-fit:fill;

       
        border-radius:15px;

}
@media only screen  and (max-width:500px){
    .nav-icons{
        display:none
    }
}
@media only screen and(max-width:400px){
    .avatar-container{
        padding-left:1rem;
    }
}